body{
  background: #060e17;
}

header{
  border-bottom: 1px solid #fff;
}

#head{
  display: block;
  height: 100px;
  width: 240px;
  margin: auto;
}

article img{
  opacity: .5;
  width: 100vw;
  height: 500px;
}

#text{
  position: absolute;
  font-family: Segoe Print;
  font-size: 1.4em;
  color: #fff;
  top:250px;
  left:30%;
}

*{box-sizing: border-box;}

.bar{
  position: relative;
}

.left p{
  color: #fff;
  font-family: calibri;
  font size:2em;
  margin: 40px 30px;
}

.list1{
  list-style-type: none;
  margin: 0;
  margin-top: 60px;
  padding: 0;
  width: 270px;
  background-color: #060e17;
  height: 100vh;
  overflow: auto;
  border-right: 1px solid rgba(255,255,255,.1);
}

.list1 li a{
  display:block;
  color: white;
  font-family: calibri;
  font-size: 1.2em;
  padding: .5em 4.5em;
  text-decoration: none;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
}

.list1 li a:hover{
  background-color: #a1a7ac;
  color:#000;
}

.right{
  position: absolute;
  right: 0;
  top: -1.8em;
    height: 303px;
}

.right p{
  color: #fff;
  font-family: calibri;
  font size:2em;
  margin: 40px 30px;
}

.list{
  list-style-type: none;
  margin: 0;
  margin-top: 60px;
  padding: 0;
  width: 270px;
  background-color: #060e17;
  height: 100vh;
  overflow: auto;
  border-left: 1px solid rgba(255,255,255,.1);
}

.list li a{
  display:block;
  color:#2196F3;
  font-family: calibri;
  font-size: 1.2em;
  padding: .5em 4.5em;
  text-decoration: none;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
}

.list li a:hover{
  color: #fff;
}

.main{
  position:absolute;
  display: block;
  max-width: 38%;
  height: 40%;
  font-family: segoe Print;
  margin-top: -45%;
  left: 30%;
  text-align: center;

}

.main p{
  color: #fff;
  font-size: 1.3em;
  padding: 20px;
  text-align: center;
  text-shadow: #fff;
}

.main button{
border-radius: 4px;
background-color: #f4511e;
border: none;
color: #fff;
text-align: center;
font-size: 28px;
padding: 15px;
width: 180px;
transition: all 0.5s ease;
cursor: pointer;
margin: 5px 0;
}

.button span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s ease;
}

.button span:after{
  content:'»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -50px;
  transition: 0.5s ease;
}

.button:hover span{
  padding-right: 25px;
}

.button:hover span::after{
  opacity: 1;
  right: 0;
}

button:active{
  border: none;
  outline: none;
  background-color: #9f1313;
}
